<div class="data-grid">
  <div class="data-grid__scroll-wrapper">
    <table class="data-grid__table">
      <thead>
        <tr>
          <th
            *ngFor="let col of columns"
            [style.text-align]="col.align || 'left'"
            [style.width]="col.width || null"
            [class]="col.headerClass || ''"
            [class.data-grid__th--sortable]="col.sortable"
            [class.data-grid__th--active]="col.sortable && getSortDirection(col.key)"
            (click)="onSortClick(col)"
          >
            <span class="data-grid__header-content">
              <ng-container *ngIf="getHeaderTemplate(col.key) as headerTmpl; else defaultHeader">
                <ng-container *ngTemplateOutlet="headerTmpl"></ng-container>
              </ng-container>
              <ng-template #defaultHeader>{{ col.label }}</ng-template>

              <span *ngIf="col.sortable" class="data-grid__sort-icon">
                <svg *ngIf="!getSortDirection(col.key)" width="14" height="14" viewBox="0 0 14 14" fill="currentColor">
                  <path d="M7 2.5L10 6H4L7 2.5Z" opacity="0.4"/>
                  <path d="M7 11.5L4 8H10L7 11.5Z" opacity="0.4"/>
                </svg>
                <svg *ngIf="getSortDirection(col.key) === 'asc'" width="14" height="14" viewBox="0 0 14 14" fill="currentColor">
                  <path d="M7 2.5L10 6H4L7 2.5Z"/>
                  <path d="M7 11.5L4 8H10L7 11.5Z" opacity="0.2"/>
                </svg>
                <svg *ngIf="getSortDirection(col.key) === 'desc'" width="14" height="14" viewBox="0 0 14 14" fill="currentColor">
                  <path d="M7 2.5L10 6H4L7 2.5Z" opacity="0.2"/>
                  <path d="M7 11.5L4 8H10L7 11.5Z"/>
                </svg>
              </span>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Skeleton rows for initial loading -->
        <ng-container *ngIf="showSkeleton">
          <tr *ngFor="let i of skeletonRowsArray" class="data-grid__skeleton-row">
            <td
              *ngFor="let col of columns"
              [style.text-align]="col.align || 'left'"
              [style.width]="col.width || null"
            >
              <app-skeleton
                type="text"
                [width]="col.align === 'right' ? '60%' : '80%'"
                height="16px"
                [style.margin-left]="col.align === 'right' ? 'auto' : null"
              ></app-skeleton>
            </td>
          </tr>
        </ng-container>

        <!-- Data rows -->
        <ng-container *ngIf="!showSkeleton">
          <tr *ngFor="let row of data">
            <td
              *ngFor="let col of columns"
              [style.text-align]="col.align || 'left'"
              [class]="col.cellClass || ''"
            >
              <ng-container *ngIf="getCellTemplate(col.key) as tmpl; else defaultCell">
                <ng-container *ngTemplateOutlet="tmpl; context: { $implicit: row, value: row[col.key] }"></ng-container>
              </ng-container>
              <ng-template #defaultCell>{{ row[col.key] }}</ng-template>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <!-- Loading spinner for infinite scroll -->
    <div *ngIf="loading && data.length > 0" class="data-grid__loading-more">
      <div class="data-grid__spinner"></div>
    </div>

    <!-- Sentinel element for IntersectionObserver -->
    <div #sentinel class="data-grid__sentinel"></div>
  </div>
</div>
